body{
    font: 14px 맑은 고딕;
}
.container{
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e7e7e7;
}
header{
    position: relative;
    height: 280px;
    background: url('../images/bg.png') no-repeat left top;
}
header h1{
    position: absolute;
    right: 20px;
    bottom: 70px;
    font-size: 3em;
    color: #ffc;
    text-shadow: 1px 2px 2px #000;
}
header h2{
    position: absolute;
    right: 20px;
    bottom: 30px;
    font: 2em;
    color: #ff0;
    text-shadow: 0px 1px 1px;
}
.navi{
    background-color: #271717;
    margin-top: -15px;
    width: 960px;
    height: 60px;
}
.navi ul{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 40px;
}
.navi ul li{
    display: inline-block;
    font-size: 15px;
}
.navi a, .navi a:visited{
    text-decoration: none;
    color: #fff;
    width: 150px;
    display: block;
    padding: 10px 5px 5px 35px;
}
/* visited 방문 했을 때, active 클릭 했을 때, focus도 이벤트 발생 시 */
.navi a:hover, .navi a:active, .navi a:focus{
    text-shadow: 0px 2px 2px #000;
    color: #fc0;
}
.sidebar{
    float: right;
    width: 200px;
    height: 550px;
    background-color: #dfd;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar img{
    margin-bottom: 5px;
    border: 1px solid #ccc;
    opacity: 0.5;
    text-align: center;
}
.sidebar img:hover{
    border: 1px solid #000;
    /* opacity는 투명도를 나타낸다. 작아지면 투명해지고 값이 커지면 선명해짐 */
    opacity: 1.0;
}
.content{
    background-color: #ffffff;
    padding-top: 5px;
    padding-left: 10px;
    width: 720px;
    float: left;
}
footer{
    padding: 10px 0;
    background-color: #030;
    color: #fff;
    text-align: center;
    clear: both;
}
.banner{
    margin: 0 10px 15px 10px;
    padding: 0;
}